wp-admin
wp-content/upgrade
wp-content/plugins
wp-content/ai1wm-backups
wp-config.php
web.config
wp-content/cache
wp-content/w3tc-config
wp-content/uploads
wp-includes
wp-content/themes/twentytwenty
wp-content/themes/twentytwentyone
wp-content/themes/twentytwentytwo
wp-content/themes/gc-responsive/js/site.const.js
MediaPartners.txt

# ignore log files and databases
*.log
*.sqlgit
*.sqlite

# ignore compiled files
*.com
*.class
*.dll
*.exe
*.o
*.so
*.mp4
*.mov

# ignore packaged files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
.wpress
# .gitignore
.idea/
/index.php
license.txt
readme.html
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
aspnet_client/
bak/foundation-photgraphy-v1.html
wflogs
.wpress
wp-content/plugins/advanced-custom-fields-pro/.DS_Store
wp-content/plugins/advanced-custom-fields-pro/admin/.DS_Store
wp-content/plugins/advanced-custom-fields-pro/admin/views/.DS_Store
wp-content/plugins/advanced-custom-fields-pro/assets/css/.DS_Store
wp-content/plugins/advanced-custom-fields-pro/assets/inc/.DS_Store
wp-content/plugins/advanced-custom-fields-pro/assets/inc/datepicker/.DS_Store
wp-content/plugins/advanced-custom-fields-pro/assets/inc/select2/.DS_Store
wp-content/plugins/advanced-custom-fields-pro/assets/js/.DS_Store
wp-content/plugins/advanced-custom-fields-pro/fields/.DS_Store
wp-content/plugins/advanced-custom-fields-pro/forms/.DS_Store
wp-content/plugins/advanced-custom-fields-pro/lang/.DS_Store
wp-content/plugins/advanced-custom-fields-pro/pro/.DS_Store
wp-content/plugins/advanced-custom-fields-pro/pro/admin/.DS_Store
wp-content/plugins/advanced-custom-fields-pro/pro/assets/js/.DS_Store
